:root {
  --primary-color: #5c76ff;
  --primary-color-d: #061238;
  --primary-color-d-o: rgba(6, 18, 56, 0.5);
  --primary-color-l: #6389F9;
  --primary-color-d-text: #ffffff;

  --dark: #131313;
  --dark-m: #171717;
  --dark-l: #2b2b2b;
  --dark-l-o: rgba(43, 43, 43, 0.5);
  --gray: #333333;
  --gray-l: #dddddd;
  --gray-l-2: #999999;

  --red: #C70000;
  
  --nav-width: 220px;
  --header-height: 80px;
  --transition: 0.2s;
  --border-radius: 6px;
  --box-padding: 8px 12px;
  --small-box-padding: 4px 6px;
  --modal-zIndex: 2;
}
/* Tablet */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  :root {
  }
  body {
      font-size: 14px;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  :root {
    --header-height: 40px;
  }
  body {
      font-size: 12px;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  background: var(--dark-m);
  color: var(--gray-l);
  font-size: 16px;
}
html, body, #__next {
  width: 100%;
  height: 100%;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  all: unset;
  cursor: pointer;
}
a {
  all: unset;
  cursor: pointer;
}
input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: var(--gray-l);
  font-family: inherit;
}
input::placeholder {
  font-size: 12px;
  color: var(--gray-l);
}
h1, h2, h3, h4, h5, h6, p, span, button, input, select, a {
  line-height: 1.2;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.scroll {
  overflow-y: auto;
}
.scroll::-webkit-scrollbar {
  width: 1px;
  background: var(--dark-l);
  border-radius: var(--border-radius);
}
.scroll::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: var(--border-radius);
}
.pointer {
  cursor: pointer;
}
.headline {
  font-size: 34px;
  letter-spacing: 0.25px;
}
.subTitle {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.15px;
}
.smallTitle {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
}
.normalText {
  font-size: 14px;
  letter-spacing: 0.2px;
}
.caption {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-l-2);
}

/** mobile, pc only **/
.mobileOnly {
  display: none;
}
.pcOnly {
  display: block;
}
@media all and (max-width: 767px) {
  .mobileOnly {
      display: block;
  }
  .pcOnly {
      display: none;
  }
}